.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 10px;
  justify-content: center;
}

.propCard {
  width: 340px;
  margin: 30px;
  border: 2px solid #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* cursor: pointer; */
}

.card-img {
  /* width: 100%; */
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
  height: 225px;
}

.card-title {
  margin-bottom: 20px;
}

.propertyInfo {
  margin-bottom: 10px;
}

.card-price {
  justify-content: space-between;
  align-items: center;
}

h6 {
  word-wrap: break-word;
}

.brokerImg {
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
  height: 310px;
}
