.heroImage {
    
    background-repeat: no-repeat !important;
    background-size: cover;
}

.mask{
  height: 300px;
}

.paginationBttns {
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  
  .paginationBttns a {
    padding: 8px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid #2c83f5;
    color: #043a3a;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #37a6f0;
  }
  
  .paginationActive a {
    color: white;
    background-color: #61a1eb;
  }
  
  .paginationDisabled a {
    color: rgb(78, 74, 74);
    background-color: rgb(167, 160, 160);
  }

  .info{
    margin-left: 145px;
  }

  .sorting{
    margin-left: 80px;
    margin-top: 8px;
    font-size: 25px;
  }